/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/* Custom CSS */
body {
  background: #fefefe;
  font-family: "Roboto", sans-serif;
  color: #333; }

#nyz-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: transparent;
  z-index: 10; }

.graffiti-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%); }

path.z {
  stroke-dashoffset: 4000; }

/* Media CSS */
/* Header */
#header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  #header .header-info h1 {
    font-size: 100px;
    line-height: 1.3; }
  #header .header-info p {
    font-size: 38px;
    text-transform: uppercase; }

/* Arrow */
.arrow-container {
  position: relative;
  left: 50%;
  top: 30vh;
  z-index: 1000;
  transform: translate(-50%, -50%); }
  .arrow-container svg {
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    width: 70px;
    height: auto;
    margin: 0 2rem;
    cursor: pointer;
    overflow: visible; }
    .arrow-container svg polygon, .arrow-container svg path {
      transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1); }
    .arrow-container svg:hover polygon, .arrow-container svg:hover path {
      transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
      fill: #FF4136; }
    .arrow-container svg:hover .arrow {
      animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite; }
    .arrow-container svg:hover .arrow-fixed {
      animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite; }

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0); }
  5% {
    transform: translateX(-0.1rem); }
  100% {
    transform: translateX(1rem);
    opacity: 0; } }
@keyframes arrow-fixed-anim {
  5% {
    opacity: 0; }
  20% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }
/* About */
#about {
  width: 100%;
  height: 100%;
  margin: 100px 0px; }
  #about h3 {
    font-size: 40px;
    line-height: 1.3;
    margin: 100px 0px; }
  #about .profile-img {
    height: 350px;
    background: url(../img/ja.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; }
  #about .profile-text {
    height: 300px; }
    #about .profile-text p {
      font-size: 55px;
      line-height: 1.3;
      margin-top: 80px;
      position: relative;
      right: 60px;
      font-family: "Permanent Marker", Helvetica, sans-serif;
      color: #FF4136; }
  #about .about-info {
    margin: 90px 0px; }
    #about .about-info p {
      font-size: 40px;
      line-height: 1.4;
      margin: 0px 90px; }
      #about .about-info p span {
        color: #FF4136; }

/* Download */
/* Portfolio */
#portfolio {
  width: 100%;
  height: 100%;
  padding: 100px 0px; }
  #portfolio h3 {
    font-size: 40px;
    line-height: 1.3;
    margin: 20px 0px; }
  #portfolio .row {
    margin: 90px 0px; }
    #portfolio .row .project-one .block-text {
      font-size: 55px;
      line-height: 1.3;
      margin-top: 80px;
      position: relative;
      font-family: "Permanent Marker", Helvetica, sans-serif;
      color: #FF4136;
      display: inline-block; }
    #portfolio .row .project-two .block-text {
      font-size: 55px;
      line-height: 1.3;
      margin-top: 80px;
      position: relative;
      z-index: 100;
      font-family: "Permanent Marker", Helvetica, sans-serif;
      color: #FF4136;
      text-align: right;
      display: inline-block; }
  #portfolio .block {
    display: inline-block;
    z-index: 110; }
    #portfolio .block .anchor-container {
      width: 100%;
      height: 300px; }
  #portfolio .project {
    font-family: 'Raleway', sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    text-align: left; }
  #portfolio .project * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }
  #portfolio .project:before {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 100%;
    content: '';
    background-color: rgba(255, 65, 54, 0.9);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s; }
  #portfolio .project img {
    vertical-align: top;
    width: 100%;
    height: 320px;
    backface-visibility: hidden; }
  #portfolio .project figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #portfolio .project h6 {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px; }
  #portfolio .project:hover:before,
  #portfolio .project.hover:before {
    top: 10px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
  #portfolio .project:hover h6,
  #portfolio .project.hover h6 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  #portfolio .project:hover h6,
  #portfolio .project.hover h6 {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s; }
  #portfolio .btn h6 {
    color: #000;
    border: 2px solid #000;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px; }
  #portfolio .btn h6:hover {
    color: #42DCA3;
    background-color: #000; }
  #portfolio figcaption > .btn {
    justify-content: space-around;
    display: flex;
    margin-top: 10px; }

/*# sourceMappingURL=style.css.map */
